nix_direnv_manual_reload
use nix
# --- micromamba ---
export MAMBA_ROOT_PREFIX=$(pwd)/.mamba
eval "$(micromamba shell hook --shell=posix)"
if [ $(micromamba env list --json | jq '.envs[]' | grep -e $(basename `pwd`) | wc -l) -eq "0" ]; then
    micromamba create -n $(basename `pwd`)
fi
micromamba activate $(basename `pwd`)